body{


  background-position: center;

  
}

div {

 font-family: cursive;
  font-size: 100%;

   text-align: center;
  display: center;
  width: 80%;
  border-color: orange;  

}
  #startGame {
    color: white;
    height:10%;
    width:40%;
      background-color: green;
    margin-top:50%;
     margin-left:30%;
    border-style: groove;
     font-size: 30px;
    border-radius:5%;
    
  }

  #restartGame {
     Display:none;
    color: white;
    height:10%;
    width:40%;
      background-color: green;
    margin-top:50%;
     margin-left:30%;
    border-style: groove;
     font-size: 30px;
    border-radius:5%;
    
  }

#player {
  Display:none;
  background-color: black;
    border-radius: 5%;
  margin: 3% auto;
	width: 100%;
  font-size: 15px;
border-style: groove;
    border-right-width: 2px;
  color:white;
}


#message {
  Display:none;
  width: 100%;
  background-color: lightgreen;
   word-wrap: break-word;
  color: blue;
   font-size: clamp(18px, 2vw, 3px);
   
}

#soccerField {
 margin-top:10%;

  top: 0%;
  left: 50%;

  
}

#timeBoard {
  Display:none;
  background-color: green;
   margin: 3% auto;
	width: 60%;
  color:white;
  font-family: cursive;
  border-radius:10%;
   border-style: double;
   
}
#commands  {
  Display:none;
 width:100%;
  font-family: cursive;
  
}
#commands button{  
  
 z-index:110;
    font-weight: bold;
   background-size: cover;
   border-radius: 5%;
  width:300px;
  height:100px;
  color:lightgreen;
  font-size: clamp(18px, 2vw, 3px);
  background-image:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),  url("https://th.bing.com/th/id/OIP.yoKFyOtLYNWSSPHxlrlJmwAAAA?rs=1&pid=ImgDetMain");
 float: left;
  border-style: ridge;
   margin:5px;
  font-family: cursive;
  border-color: green;  
}
#commands button img {  
opacity: 10;
}

#commands button:hover {  
 transform: translate(1%, 5%);
}

